<h2>User Id: <%= @order["user_id"] %></h2>
<h2>Product Id: <%= @order["product_id"] %></h2>
<h3>Quantity: <%= @order["quantity"] %></h2>
<b>subtotal: <%= @order["subtotal"] %><br>
<b>tax: <%= @order["tax"] %><br>
<b>total: <%= @order["total"] %></b>
