<img src="http://www.salamancany.org/cms/lib/NY19001352/Centricity/Domain/252/lacrosse%202.jpg">

<h1><%= @product["formatted"]["sales_message"] %></h1>

<h2>Name: <%= @product["name"] %></h2>
<h3>Category: 
  <% @product["categories"].each do |cat| %>
    <%= cat["name"] %>&emsp;
    <% end %>
  </h3>
<b>Price: <% if @product["price"].to_i < 100 %> <font color="red"> <% end %> <%=@product["price"] %></font><br>
Sales Tax: <%= @product["formatted"]["sales_tax"] %><br>
Total Price: <%= @product["formatted"]["total_price"] %><br>
Description: <%= @product["description"] %><br>
Color: <%= @product["color"] %></b><br>
  <% @product["images"].each do |image| %>
    <img src="<%=image["url"]%>" style="width:200px;height:200px;">
  <% end %>
<br>
<br>
<a href="/client/products/<%= @product['id']%>/edit">Edit Product</a>
<a href="/client/products/<%= @product['id']%>" data-method="delete">Delete Product</a>
<h4><a href="/client/products">Products Index</a></h4>


<h4> Add Product to Cart</h4>

<%= form_tag "/client/carted_products", method: :post do %>
  <div>
    Product Id: <input type="hidden" name="product_id" value="<%= @product['id'] %>"/>
  </div>
  <div>
    Quantity: <input type="number" name="quantity" />
  </div>
  <input type="submit" name="" value="Add to Cart" />
<% end %>