<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

    <% if @jwt %>
      <h4>Currently logged in</h4>
    <% end %>

  <body>
    <% flash.each do |name, message| %>
      <p><%= message %></p>
    <% end %>
    
    <a href="/signup">Sign Up</a>&ensp;
    <a href="/login">Log In</a>&ensp;
    <a href="/logout" data-method="delete">Log Out</a>&ensp;
    <a href="/client/carted_products">Cart</a> 

    <%= yield %>
  </body>
</html>
